<%= form_tag(controller:"msgboard", action: "index") do %>
  <div class="form-group">
    <label for="name">name</label>
    <%= text_field_tag("name", "", {class:"form-controll"}) %>
  </div>
  <div class="form-group">
    <label for="name">mail</label>
    <%= text_field_tag("mail", "", {class:"form-controll"}) %>
  </div>
  <div class="form-group">
    <label for="name">message</label>
    <%= text_field_tag("msg", "", {class:"form-controll"}) %>
  </div>
  <%= submit_tag("Click", {class:"btn btn-primary"}) %>
<% end %>

<table class="title" mt-4">
  <tr>
    <th style="width:50%">msg</th>
    <th>name</th>
    <th>mail</th>
    <th>time</th>
  </tr>
  <% @msg_data.each do |key,obj|  %>
    <tr>
      <td class="msg"><%= obj['msg'] %></td>
      <td class="name"><%= obj['name'] %></td>
      <td class="mail"><%= obj['mail'] %></td>
      <td class="time"><%= Time.at(key.to_i) %></td>
    </tr>
  <% end %>
</table>